
/* Header start*/
#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #27643c;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position:fixed;
  top: 0;
  left: 0;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Home page*/

#headerInfo {
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  display: flex;
  align-items: center;
}

#headerInfo h4 {
  padding-bottom: 15px;
}
#headerInfo h1 {
  color: #0c7c42;
}




/* start Media Query*/

  

/* end home page  */
/* ***************************************************** */



/* single product */
#productDetails {
  display: flex;
  margin-top: 50px;
}

#productDetails .single-pro-image {
  width: 25%;
  margin-right: 100px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 20%;
  cursor: pointer;
}

#productDetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#productDetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#productDetails .single-pro-details h2 {
  font-size: 26px;
}

#productDetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#productDetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#productDetails .single-pro-details input:focus {
  outline: none;
}

#productDetails .single-pro-details button {
  background-color: #27643c;
  color: #fff;
  padding: 15px;
}
#productDetails .single-pro-details span {
  line-height: 25px;
}
